
@model WebApp_OpenIDConnect_DotNet.Models.InfoUser
@using Microsoft.Graph
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Buscar eventos de usuario";
    IEnumerable<Eventos> listEventos = JsonConvert.DeserializeObject<List<Eventos>>(TempData["UserCalendar"].ToString());
}

<h1>Buscar eventos de usuario</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelegated" class="control-label"></label>
                <input asp-for="IsDelegated" class="form-control" />
                <span asp-validation-for="IsDelegated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@if (TempData["ErrorMessage"] != null)
{
    <p class="text-danger">@TempData["ErrorMessage"]</p>
}

@if (listEventos?.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Nombre</th>
                <th>Fecha Desde</th>
                <th>Fecha Hasta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listEventos)
            {
                <tr>
                    @*<td>
                            @item.Id
                        </td>*@
                    <td>
                        @item.Titulo
                    </td>
                    <td>
                        @item.FechaDesde.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.FechaHasta.ToString("dd/MM/yyyy")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}